* {
    padding: 0;
    margin: 0;
}
.hero {
    max-width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.gigante{
    margin-top:5px;
    font-size: 15vw;
    color:black;
    text-align: right;
    line-height: 78%;
    font-family: 'Krona One', sans-serif;
    margin-bottom: 5%;
}
.heroGeranium {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    margin: 1%;
}
.slide {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-content: center;
    flex-direction: row;
    align-items: flex-end;
    margin-top: 6%;
}
.slideGeranio{
    width:40%;
}

.hero {
    max-width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.gigante{
    margin-top:5px;
    font-size: 15vw;
    color: black;
    text-align: right;
    line-height: 78%;
    font-family: 'Krona One', sans-serif;
    margin-bottom: 5%;
}
.heroGeranium {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    margin: 1%;
}
.hero img {
    max-width: 50%;
    height: auto;
    margin-left: -50px;
}

.descripcionGeranio__hero{
    width:40%;
    margin-right:5%;
    color: #000;
    font-family: 'krona one', sans-serif;
    font-weight: 200;
    font-size: 15px;
}


.barBlue{
    background-color: #00D1FF;
    height: 30px;
}
.infoGeranio{
    display: flex;
    max-width: 200%;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    margin-top:2%;
    margin-right: 450px;
    
}
.descripcionGeranio {
    display: flex;
    margin-top: 6%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.descripcion__p1 {
    width: 325px;
    margin: 3%  0 0 10%;
    color: #000;
    font-family: 'krona one', sans-serif;
    font-size: 30px;
    text-align: center;
}
.descripcionGeranio__p2{
    color: #000;
    font-family: 'krona one', sans-serif;
    font-weight: 200;
    font-size: 12px;
    padding:2%
}
.slide {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-content: center;
    flex-direction: row;
    align-items: flex-end;
    margin-top: 6%;
}
.slideGeranio{
    width:60%;
}
.intercambio .button {
    font-size: 1em;
    min-width: 25%;
    margin: 7%;
}
.intercambio{
   display: flex ;
}
.barrVerde{
    background-color: #00D1FF;
    height: 30px;
    margin-top: 40px;
    width: 100%;
    display:flex;
}
.descuento {
    min-height: 204px;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
}
.porcentaje {
    background-color: black;
    width: 225px;
    height: 89px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 0%;

}
.porcentaje a{
    color: #fff;
    font-family: 'krona one', sans-serif;
    font-weight: 300;
    font-size: 6vw;
}
.textoPromo__porcentaje{
    max-width: 100%;
    color: black;
    text-align: center;
    font-family: 'krona one', sans-serif;
    font-weight: 300;
    font-size: 2.5vw;
}
.experiencia{
    color: black;
    font-family: 'krona one', sans-serif;
    font-weight: 800;
    font-size: 3vw;
}
.barrVerdeBaja {
    background-color: #00D1FF;
    height: 38px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.barrVerdeBaja a{
    color: #080808;
    font-family: 'krona one', sans-serif;
    font-size: 28px;
}
.cruzada {
    margin-top: 3%;
    display: flex;
    align-items: center;
    height: 215px;
    flex-direction: row;
    justify-content: space-evenly;
}
.icon{
    color: #212121;
    padding-bottom:3%;
    display: flex;
    align-items: center;
    font-size: 25px;
    flex-direction: column;
    font-family: 'krona one', 'sans-serif';   
}
.icon a{
    padding-top:20%;
    text-decoration: none;
    font-weight: 800;
    color:#000;
}

/* Boton CTA*/
.button {
    all: unset;
    display: flex;
    align-items: center;
    position: relative;
    padding: 0.6em 1em;
    border: black solid 0.15em;
    border-radius: 0.25em;
    color: rgb(2, 44, 28);
    font-size: 1.5em;
    font-weight: 600;
    cursor: pointer;
    overflow: hidden;
    transition: border 300ms, color 300ms;
    user-select: none;
    min-width: 182px;
  }
.botones__cruzada--mobile .button{
    text-decoration: none;
}
  
  .button p {
    z-index: 1;
  }
  
  .button:hover {
    color: #000000;
  }
  
  .button:active {
    border-color: #4671fd;
  }
  
  .button::after, .button::before {
    content: "";
    position: absolute;
    width: 9em;
    aspect-ratio: 1;
    background: #47c5ff;
    opacity: 50%;
    border-radius: 50%;
    transition: transform 500ms;
  }
  
  .button::before {
    left: 0;
    transform: translateX(-8em);
  }
  
  .button::after {
    right: 0;
    transform: translateX(8em);
  }
  
  .button:hover:before {
    transform: translateX(-1em);
  }
  
  .button:hover:after {
    transform: translateX(1em);
  }
  
  .button:active:before,
  .button:active:after {
    background: teal;
  }

  .cruzada .botonescruzada--mobile{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 3% 0 5% 0;
    width: 97%;
    padding: 1%;
    font-size: 0.8em;
}
.botonescruzada--mobile .button{
    margin-top: 2%;

}
.botones__cruzada--mobile button img {
    max-height: 35px;
    display: flex;
    position: absolute;
    right: 30px;
}

.botones__cruzada--mobile{
    display: flex;
    justify-content: space-between;
    margin: 30px;
    gap: 10px;
}

@media only screen and (max-width: 600px) {
    .botones__cruzada--mobile{ 
        flex-direction: column;
        align-items: center;
    }

    .button {
        margin-bottom: 10px;
    }
    .descripcionGeranio{
        display: flex;
        flex-direction: column;
    }
    .descripcionGeranio__p1{
        margin-left: 450px;
    }
    .hero img {
        max-width: 55%;
        margin-left: 8px;
        height: 220px;
    }
    .logoStyle {
        width: 3rem;
    }
    .porcentaje {
        background-color: black;
        height: 70px;
        justify-content: center;
        width: 70px;
    }
    .descuento {
        flex-flow: row;
        justify-content: space-around;
        min-height: 204px;
    }
    .button {
        all: unset;
        align-items: center;
        border: 0.15em solid #abc07f;
        border-radius: 0.25em;
        color: #022c1c;
        cursor: pointer;
        display: flex;
        font-size: 18px;
        font-weight: 600;
        min-width: 165px;
        overflow: hidden;
        padding: 0.6em 1em;
        position: relative;
        transition: border .3s,color .3s;
        -webkit-user-select: none;
        user-select: none;
    }
    .carousel-principal img{
        margin-top: 30px;
        margin-left: 15px;
    }
    .hero img{
        margin-left: -1px;
    }
}

/* carrusel principal */
.carousel-principal {
    height: 340px;
    justify-content: start;
    position: relative;
    z-index: 1;
    margin-left: 150px;
  }
  
  .carousel-principal img {
    position: absolute;
    margin: -80px;
    padding: 0;
    width: 684px;
    height: 470px;
    display: flex;
    justify-content: flex-end;
    left: 0;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    z-index: 1;
  }
  
  .carousel-principal img.active {
    opacity: 1;
  }