@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/* Header Styles */
.header {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.button-nav {
  border-radius: 40px;
  padding: 2% 5%;
  font-size: 21px;
  margin: 4%;
}

.button-nav:hover {
  background-color: #D9D9D9;
}

.barra {
  background-color: #fff;
  border: 2px solid black;
  height: 12vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  /* Añadido espaciado a los lados */
  padding-right: 350px;
  font-size: 21px;
}

.logoStyle {
  width: 8rem;
  ;
}

.barra a {
  color: black;
  text-decoration: none;
  padding-left: 1%;
}

.lableIt {
  line-height: 20px;
  font-size: 0.8rem;
  color: #2B2E4A;
  letter-spacing: 1px;
}

.menu {
  list-style-type: none;
  display: inline-block;
  flex-wrap: nowrap;
}

.navefect {
  padding: 5%;
}

.navefect:hover {
  transform: scale(1.1);
}

.menu nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu nav ul li {
  margin-right: 10px;
}

.barra .menu nav ul li a {
  background-color: brown;
  color: rgb(40, 17, 188);
  text-decoration: none;
}

.menu__btn {
  display: none;
}

.cart-badge {
  position: relative;
  margin-top: -20px;
}

.cart-badge a {
  position: relative;
  display: inline-block;
}

.cart-badge span.item-count {
  position: absolute;
  margin-top: -10px;
  left: 20px;

  border-radius: 50%;
  padding: 5px;
  font-size: 14px;
  /* Ajusta el tamaño del número según sea necesario */
  color: white;
  /* Ajusta el color del texto según sea necesario */
}

.button-nav {
  padding: 10px;
  font-size: 21px;
}


/* Estilos del menú para pantallas pequeñas y grandes */
@media screen and (max-width: 800px) {
  .barra {
    height: 90px;
  }

  .logo {
    z-index: 4;
    padding: 4px 20px;
    position: absolute;
  }

  .header .menu__icon {
    cursor: pointer;
    padding: 25px 20px;
    position: absolute;
    right: 10px;
    top: 10px;
    user-select: none;
    z-index: 5;
    display: block;
  }

  .header .menu__icon .navicon {
    background: #ffffff;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }

  .header .menu__icon .navicon:before,
  .header .menu__icon .navicon:after {
    background: #ffffff;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }

  .header .menu__icon .navicon:before {
    top: 5px;
  }

  .header .menu__icon .navicon:after {
    top: -5px;
  }

  .header .menu__btn {
    display: none;
  }

  .header .menu__btn:checked~.menu {
    transform: translateX(0);
    transition: all .6s ease-out;
  }

  .header .menu__btn:checked~.menu__icon .navicon {
    background: transparent;
  }

  .header .menu__btn:checked~.menu__icon .navicon:before {
    transform: rotate(-45deg);
  }

  .header .menu__btn:checked~.menu__icon .navicon:after {
    transform: rotate(45deg);
  }

  .header .menu__btn:checked~.menu__icon:not(.steps) .navicon:before,
  .header .menu__btn:checked~.menu__icon:not(.steps) .navicon:after {
    top: 0;
  }

  .menu {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: #abc07f;
    transform: translateX(1000px);
    transition: all .6s ease-out;
    z-index: 4;
    justify-content: space-evenly;
    top: 0px;
    flex-wrap: nowrap;
  }

  .menu__item {

    font-size: 18px;
    color: #ffffff;
    padding: 0 3% 0 3%;
    text-decoration: none;
  }

  .menu__item:hover {
    color: #a60304;
  }
}